@font-face {font-family: "iconfont";
  
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px !important;
	top:5px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
 
}

.icon-faxian1:before {
  content: "\e746";
}

